@using BCShop.Entity.Concrete
@model List<Product>

<section class="main-content-w3layouts-agileits">
		<div class="container">
			<h3 class="tittle">Tüm Ürünler</h3>
			<div class="inner-sec">
				<!--left-->
				<div class="left-blog-info-w3layouts-agileits text-left">
					<div class="row">
					@foreach (var p in Model)
					{
						if (p.Status)
						{
									<div class="col-lg-4 card">
												<a href="/Product/Details/@p.ProductID">
												<img src="@p.ImageUrl" class="card-img-top img-fluid" alt="">
											</a>
											<div class="card-body">
												<h5 class="card-title">
														<a href="/Product/Details/@p.ProductID">@p.Name</a>
												</h5>
												<ul class="blog-icons my-4">
													<li>
															<a href="/Product/Details/@p.ProductID">
												@p.Price.ToString("c")</a>
													</li>
												</ul>

												<a href="/Product/Details/@p.ProductID" class="btn btn-primary read-m">Ürünü İncele</a>
											</div>
										</div>
						}
					}


					</div>
					<!--//left-->
				</div>
			</div>
		</div>
	</section>