
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!--/banner-->
	<div class="banner">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
					<div class="carousel-caption">
						<h3>Ürün
							<span>-Ler</span>
						</h3>
						<div class="read">
							<a asp-controller="Product" asp-action="Index" class="btn btn-primary read-m">Daha Fazla Keşfet</a>
						</div>
					</div>
				</div>
				<div class="carousel-item item2">
					<div class="carousel-caption">
						<h3>Sweatshirt
							<span>-Ler</span>
						</h3>
						<div class="read">
							<a asp-controller="Category" asp-action="Details" asp-route-id="1" class="btn btn-primary read-m">Daha Fazla Keşfet</a>
						</div>
					</div>
				</div>
				<div class="carousel-item item3">
					<div class="carousel-caption">
						<h3>Tshirt
							<span>-Ler</span>
						</h3>
						<div class="read">
							<a asp-controller="Category" asp-action="Details" asp-route-id="2" class="btn btn-primary read-m">Daha Fazla Keşfet</a>
						</div>
					</div>
				</div>
				<div class="carousel-item item4">
					<div class="carousel-caption">
						<h3>Hakkımız
							<span>-Da</span>
						</h3>
						<div class="read">
							<a asp-controller="About" asp-action="Index" class="btn btn-primary read-m">Daha Fazla Bilgi</a>
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

@await Component.InvokeAsync("ProductList")

