
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

	<link href="~/BCShopTheme/css/contact.css" rel='stylesheet' type='text/css' />

	<!--/main-->
	<section class="main-content-w3layouts-agileits">

		<h3 class="tittle">Bize Ulaşın</h3>
		<p class="sub text-center">Düşünceleriniz Bizim İçin Değerli</p>
		<div class="contact-map inner-sec">

			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.9468195561008!2d28.988023186221245!3d41.04829204308842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab70c87fdc3c5%3A0x5b93d7bb448901c6!2zSGFyYml5ZSwgQWJkaSDEsHBla8OnaSBDZC4gTm86NDYvQSwgMzQzNjcgxZ5pxZ9saS_EsHN0YW5idWw!5e0!3m2!1str!2str!4v1702068491764!5m2!1str!2str"
				class="map" style="border:0" allowfullscreen=""></iframe>
		</div>
		<div class="ad-inf-sec bg-light">
			<div class="container">
				<div class="address row">

					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="far fa-map"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Adres</h6>
								<p> İstanbul, TURKIYE

								</p>
							</div>
						</div>

					</div>
					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="far fa-envelope"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Email</h6>
								<p>Email :
									<a href="mailto:example@email.com"> shop@bcshop.com</a>

								</p>
							</div>

						</div>
					</div>
					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="fas fa-mobile-alt"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Telefon</h6>
								<p>+90 234 567 8901</p>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="contact_grid_right">
				<form method="post">
					<div class="row contact_left_grid">
						<div class="col-md-6 con-left">
							<div class="form-group">
								<label for="validationCustom01 my-2">Adınız</label>
								<input class="form-control" type="text" name="Name" placeholder="" required="">
							</div>
							<div class="form-group">
								<label for="exampleFormControlInput1">Email</label>
								<input class="form-control" type="email" name="Mail" placeholder="" required="">
							</div>
							<div class="form-group">
								<label for="validationCustom03 my-2">Konu</label>
								<input class="form-control" type="text" name="Subject" placeholder="" required="">
							</div>
						</div>
						<div class="col-md-6 con-right">
							<div class="form-group">
								<label for="textarea">Mesajınız</label>
								<textarea id="textarea" name="Message" placeholder=""></textarea>
							</div>
							<input class="form-control" type="submit" value="Gönder">

						</div>
					</div>
				</form>
			</div>
		</div>
	</section>


