<!--footer-->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
					<h3>About US</h3>
					<p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. lacinia eget consectetur sed, convallis at tellus..</p>
					<div class="read">
						<a href="single.html" class="btn btn-primary read-m">Devamını Oku</a>
					</div>
				</div>
				<div class="col-lg-4 footer-grid-agileits-w3ls text-left">

					<div class="tech-btm">
						<h3>Kurumsal</h3>
						<div class="blog-grids row mb-3">
							<div class="col-md-5 blog-grid-left">
								<ul>
									<li>
										<h5><a href="single.html">Hakkımızda</a></h5>
									</li>
									<li>
										<h5><a href="single.html">Gizlilik Politikası</a></h5>
									</li>
									<li>
										<h5><a href="single.html">Mesafeli Satış Sözleşmesi</a></h5>
									</li>
									<li>
										<h5><a href="single.html">Sıkça Sorulan Sorular</a></h5>
									</li>
									<li>
										<h5><a href="single.html">Bize Ulaşın</a></h5>
									</li>

								</ul>
							</div>
						</div>

					</div>
				</div>
				<!-- subscribe -->
				<div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
					<h2>Signup to our newsletter</h2>
					<div class="subscribe-main text-left">
						<div class="subscribe-form">
							<form action="#" method="post" class="subscribe_form">
								<input class="form-control" type="email" placeholder="E-posta adresinizi yazın" required="">
								<button type="submit" class="btn btn-primary submit">Kayıt Ol</button>
							</form>
							<div class="clearfix"> </div>
						</div>
					</div>
					<!-- //subscribe -->
				</div>
			</div>
			<!-- footer -->
			<div class="footer-cpy text-center">
				<div class="footer-social">
					<div class="copyrighttop">
						<ul>
							<li class="mx-3">
								<a class="facebook" href="#">
									<i class="fab fa-facebook-f"></i>
									<span>Facebook</span>
								</a>
							</li>
							<li>
								<a class="facebook" href="#">
									<i class="fab fa-twitter"></i>
									<span>Twitter</span>
								</a>
							</li>
							<li class="mx-3">
								<a class="facebook" href="#">
									<i class="fab fa-google-plus-g"></i>
									<span>Google+</span>
								</a>
							</li>
							<li>
								<a class="facebook" href="#">
									<i class="fab fa-pinterest-p"></i>
									<span>Pinterest</span>
								</a>
							</li>
						</ul>

					</div>
				</div>
				<div class="w3layouts-agile-copyrightbottom">
					<p>© @DateTime.Now.Year BC Shop. All Rights Reserved | Design by
						<a href="#">BC</a>
					</p>

				</div>
			</div>

			<!-- //footer -->


		</div>
	</footer>