

<div class="top-bar_sub_w3layouts container-fluid" style="background-color:#3A3E42">
			<div class="row">
				<div class="col-md-4 top-forms text-left mt-lg-3 mt-md-1 mt-0">
				</div>
				<div class="col-md-4 logo text-center ">
					<marquee direction=left class="text-white">Haftaiçi 12:00'a kadar verilen siparişleriniz aynı gün kargoya verilir.</marquee>
				</div>
				
			</div>
</div>
<div class="top-bar_sub_w3layouts container-fluid">
			<div class="row">
				<div class="col-md-4 top-forms text-left mt-lg-3 mt-md-1 mt-0">
				</div>
				<div class="col-md-4 logo text-center">
					<a class="navbar-brand" asp-controller="Home" asp-action="Index">
						 BC·Shop</a>
				</div>
				<div class="col-md-4 top-forms text-right">
					
				</div>
			</div>
</div>