<div class="top-bar_sub_w3layouts container-fluid">
			<div class="row">
				<div class="col-md-4 top-forms text-left mt-lg-3 mt-md-1 mt-0">
					<span>Hoş Geldiniz!</span>
					
				</div>
				<div class="col-md-4 logo text-center">
					<a class="navbar-brand" asp-controller="Home" asp-action="Index">
						 BC·Shop</a>
				</div>
				<div class="col-md-4 top-forms text-right">
					<span class="mx-lg-4 mx-md-2  mx-1">
						<a asp-controller="Login" asp-action="Index">
							<i class="fas fa-lock"></i> Oturum Aç</a>
					</span>
					<span>
						<a asp-controller="Register" asp-action="Index">
							<i class="far fa-user"></i> Kayıt Ol</a>
					</span>
				</div>
			</div>
		</div>