<div class="top-bar_sub_w3layouts container-fluid">
			<div class="row">
				<div class="col-md-4 top-forms text-left mt-lg-3 mt-md-1 mt-0">
					<span>Hoş Geldiniz! _userName</span>
					
				</div>
				<div class="col-md-4 logo text-center">
					<a class="navbar-brand" href="index.html">
						 BC·Shop</a>
				</div>
				<div class="col-md-4 top-forms text-right">
					<span class="mx-lg-4 mx-md-2  mx-1">
						<a href="login.html">
							<i class="fas fa-lock"></i> Oturum Aç</a>
					</span>
					<span>
						<a asp-controller="Register" asp-area="Index">
							<i class="far fa-user"></i> Kayıt Ol</a>
					</span>
					@*<ul class="social_list1 mt-3">

						<li>
							<a href="#" class="facebook1 mx-2">
								<i class="fab fa-facebook-f"></i>

							</a>
						</li>
						<li>
							<a href="#" class="twitter2">
								<i class="fab fa-twitter"></i>

							</a>
						</li>
						<li>
							<a href="#" class="dribble3 mx-2">
								<i class="fab fa-dribbble"></i>
							</a>
						</li>
						<li>
							<a href="#" class="pin">
								<i class="fab fa-pinterest-p"></i>
							</a>
						</li>
					</ul>*@
				</div>
			</div>
		</div>